<dtk-accordion>
  <dtk-accordion-panel heading="Static Header, initially expanded">
    This content is straight in the template.
  </dtk-accordion-panel>
  <dtk-accordion-panel #group>
    <div accordion-heading>
      I can have markup, too!
      <i class="pull-right float-xs-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>
    This is just some content to illustrate fancy headings.
  </dtk-accordion-panel>
  <dtk-accordion-panel heading="Content 1">
    <p>Content 1</p>
  </dtk-accordion-panel>
  <dtk-accordion-panel heading="Content 2">
    <p>Content 2</p>
  </dtk-accordion-panel>
</dtk-accordion>